<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf='bandera' class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header text-center">La Frase</div>
            <div class="card-body">
                <h5 class="card-title">Autor: {{frase.autor}}</h5>
                <p class="card-text">Mensaje: {{frase.mensaje}}</p>
            </div>
        </div>
        <button class="btn btn-outline-primary" (click)="cambio()">
            {{textoBoton}}
        </button>
    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group" *ngFor="let personaje of personajes; let i= index">
            <li class="list-group-item list-group-item-success">{{i+1}}. {{personaje}}</li>
        </ul>
    </div>

</div>